<head>
  <title>worldcup2015</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="//cdn.jsdelivr.net/velocity/1.2.2/velocity.min.js"></script>
  <script src="//use.typekit.net/ovq7ipy.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60178639-1', 'auto');
    ga('send', 'pageview');

    $(document).ready(function(){ 


    });
    var matches = null; 
    $.getJSON("http://worldcup.sfg.io/matches", function(data) {
      matches = data; 
      //createMatches(index,matches);
    });
    
  </script>
</head>

<template name="main">
  <div class='menu_overlay expanded first_time'>
    <ul>
      <li><a href="{{pathFor route='today'}}">Today's matches</a></li>
      <li><a href="{{pathFor route='teamlist'}}">Teams</a></li>
      <li><a href="{{pathFor route='groups'}}">Groups</a></li>
      <li><a href="{{pathFor route='schedule'}}">Match schedule</a></li>
      <li><a href="{{pathFor route='maps'}}">Map</a></li>
      <li><a href="{{pathFor route='about'}}">About</a></li>
    </ul>
    <div onclick="" class='menu_toggle'>
      <i class="fa fa-chevron-down rotate45"></i>
    </div>
    <div class='logo_home'>
      <div class='overlay'></div>
      <img src="/images/logo.png">
    </div>
  </div>

  <div class='body_container'>
    {{> yield}}
    
  </div>

</template>