<template name='groups'>
	<div class='section_name'>
		<h1 class=''>Groups</h1>
	</div>

	<table class='group_table'>	
		<tr>
			<td> Group A </td>
			<td> MP </td>
			<td> W </td>
			<td> D </td>
			<td> L </td>
			<td> GF </td>
			<td> GA </td>
			<td> GD </td>
			<td> P </td>
		</tr>
		{{#each teams}}
		{{#if groupIs "Group A"}}
		<tr>
			<td class='header-text'> <span class='show-big'>{{country}}</span> <span class='show-small'>{{id}}</span> </td>
			<td> {{matches_played}} </td>
			<td> {{wins}} </td>
			<td> {{draws}} </td>
			<td> {{losses}} </td>
			<td> {{goalsFor}} </td>
			<td> {{goalsAgainst}} </td>
			<td> {{goalDiff}} </td>
			<td> {{points}} </td>
		</tr>
			{{/if}}
		{{/each}}
	</table>

	<table class='group_table'>	
		<tr>
			<td> Group B </td>
			<td> MP </td>
			<td> W </td>
			<td> D </td>
			<td> L </td>
			<td> GF </td>
			<td> GA </td>
			<td> GD </td>
			<td> P </td>
		</tr>
		{{#each teams}}
		{{#if groupIs "Group B"}}
		<tr>
			<td class='header-text'> <span class='show-big'>{{country}}</span> <span class='show-small'>{{id}}</span> </td>
			<td> {{matches_played}} </td>
			<td> {{wins}} </td>
			<td> {{draws}} </td>
			<td> {{losses}} </td>
			<td> {{goalsFor}} </td>
			<td> {{goalsAgainst}} </td>
			<td> {{goalDiff}} </td>
			<td> {{points}} </td>
		</tr>
			{{/if}}
		{{/each}}
	</table>
	
	<table class='group_table'>	
		<tr>
			<td> Group C </td>
			<td> MP </td>
			<td> W </td>
			<td> D </td>
			<td> L </td>
			<td> GF </td>
			<td> GA </td>
			<td> GD </td>
			<td> P </td>
		</tr>
		{{#each teams}}
		{{#if groupIs "Group C"}}
		<tr>
			<td class='header-text'> <span class='show-big'>{{country}}</span> <span class='show-small'>{{id}}</span> </td>
			<td> {{matches_played}} </td>
			<td> {{wins}} </td>
			<td> {{draws}} </td>
			<td> {{losses}} </td>
			<td> {{goalsFor}} </td>
			<td> {{goalsAgainst}} </td>
			<td> {{goalDiff}} </td>
			<td> {{points}} </td>
		</tr>
			{{/if}}
		{{/each}}
	</table>

	<table class='group_table'>	
		<tr class='header-text'>
			<td> Group D </td>
			<td> MP </td>
			<td> W </td>
			<td> D </td>
			<td> L </td>
			<td> GF </td>
			<td> GA </td>
			<td> GD </td>
			<td> P </td>
		</tr>
		{{#each teams}}
		{{#if groupIs "Group D"}}
		<tr>
			<td class='header-text'> <span class='show-big'>{{country}}</span> <span class='show-small'>{{id}}</span> </td>
			<td> {{matches_played}} </td>
			<td> {{wins}} </td>
			<td> {{draws}} </td>
			<td> {{losses}} </td>
			<td> {{goalsFor}} </td>
			<td> {{goalsAgainst}} </td>
			<td> {{goalDiff}} </td>
			<td> {{points}} </td>
		</tr>
			{{/if}}
		{{/each}}
	</table>

	<table class='group_table'>	
		<tr>
			<td> Group E </td>
			<td> MP </td>
			<td> W </td>
			<td> D </td>
			<td> L </td>
			<td> GF </td>
			<td> GA </td>
			<td> GD </td>
			<td> P </td>
		</tr>
		{{#each teams}}
		{{#if groupIs "Group E"}}
		<tr>
			<td class='header-text'> <span class='show-big'>{{country}}</span> <span class='show-small'>{{id}}</span> </td>
			<td> {{matches_played}} </td>
			<td> {{wins}} </td>
			<td> {{draws}} </td>
			<td> {{losses}} </td>
			<td> {{goalsFor}} </td>
			<td> {{goalsAgainst}} </td>
			<td> {{goalDiff}} </td>
			<td> {{points}} </td>
		</tr>
			{{/if}}
		{{/each}}
	</table>

	<table class='group_table'>	
		<tr>
			<td> Group F </td>
			<td> MP </td>
			<td> W </td>
			<td> D </td>
			<td> L </td>
			<td> GF </td>
			<td> GA </td>
			<td> GD </td>
			<td> P </td>
		</tr>
		{{#each teams}}
		{{#if groupIs "Group F"}}
		<tr>
			<td class='header-text'> <span class='show-big'>{{country}}</span> <span class='show-small'>{{id}}</span> </td>
			<td> {{matches_played}} </td>
			<td> {{wins}} </td>
			<td> {{draws}} </td>
			<td> {{losses}} </td>
			<td> {{goalsFor}} </td>
			<td> {{goalsAgainst}} </td>
			<td> {{goalDiff}} </td>
			<td> {{points}} </td>
		</tr>
			{{/if}}
		{{/each}}
	</table>
		
	
</template>