<template name='today'>
	<div class='section_name'>
		<h1 class=''>Today's matches</h1>
	</div>
	<div class='today'>
		<p><a href="{{pathFor route='schedule'}}">Check out the full schedule!</a></p>
		<script type="text/javascript">
		
		</script>
		{{#each schedule}}
			{{#if dateIs "56"}}
				<div class='fixture'>
					<p class='playing'><span class='team'>{{home}}</span> <span class='versus'>v</span> <span class='team'>{{away}}</span></p>
					<p class='date'> {{date}}, 2015 | {{time}} ET | {{stadium}}, {{location}} | Match {{match_id}}</p>
					<p class='score'></p>
					<div class='flag'>
						<div class='overlay'></div>
						<div class='home' style='background-image: url(/images/{{home_id}}.png)'>
							<!--<img class='' src="/images/{{home_id}}.png">-->
						</div>
						<div class='away' style='background-image: url(/images/{{away_id}}.png)'>
							<!--<img class='' src="/images/{{away_id}}.png">-->
						</div>
					</div>
				</div>
			{{/if}}
		{{/each}}
	</div>
	
</template>