<template name="teamlist">
	<div class='teamlist_container'>
		<div class='section_name left'>
			<h1 class=''>Teams</h1>
		</div>
		<div class='list_container'>
			
			<ul class='teams left'>
				{{#each teams}}
					<li class='team_name' id='{{id}}'>
						{{country}}
					</li>
					{{/each}}
			</ul>
			
			<div class='team_details'>
				{{#each teams}}
				<div class='details left' id='{{id}}'>
					<div class='text'>
						<h1 class='country'>{{country}}</h1>
						<p class='group'>{{group}}</p>
						<ul class='fixture_details'>
							<li><span class='match'>{{game1_date}} | {{game1_time}} ET </span> <span class='versus'>v</span>{{game1}}</li>
							<li><span class='match'>{{game2_date}} | {{game2_time}} ET </span> <span class='versus'>v</span>{{game2}}</li>
							<li><span class='match'>{{game3_date}} | {{game3_time}} ET </span> <span class='versus'>v</span>{{game3}}</li>	
						</ul>
						<h3>Squad (coming soon)</h3>
					</div>
					<div class='flag'>
						<div class='overlay'></div>
						<img  src="/images/{{id}}.png">
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</template>