/* MAIN AREAS */

$header_font: "cubano";
$body_font: "pt-sans";

body {
	font-size: 16px;
	background-color: rgba(143, 18, 21, 1);
	color: white;
	font-family: $body_font;
}
.body_container {
	padding: 50px 100px 0;
	
}
.teamlist_container {
	height: 100%;
}
h1, h2, h3, h4 {
	font-family: $header_font;
}

h1 { font-size: 3em}
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1rem;
}

a {
	color: white;
	text-decoration: none;
}

.center {
	text-align: center;
}

.inline-table{
	display: inline-table;
}

.content {
	width: 100%;
}

.fa {
	&.rotate45 {
		transition: all .4s;
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);

	}
}

#map-canvas {
	height: 500px; margin: 0; padding: 0;
	width: 100%;
}

#map_content {
	width: 350px;
	color: black;
	min-height: 150px;
	h3 {
		margin-bottom: 0;
	}
	p {
		margin-top: 2px;
		margin-bottom: 10px;
	}
	a {
		text-transform: uppercase;
		font-weight: bold;
		color: rgba(143, 18, 21, 1);
		&:after {
			content: ' >>'
		}
	}
}

.labels {
     color: black;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 40px;     
     border: 2px solid black;
     white-space: nowrap;
   }

.list_container {
	position: relative;
	width: 100%;
	
	ul {
		width: 100%;
		//text-align: center;
	}
	.teams li {
		display: inline-table;
		width: 16%;
		margin: 0 0 10px;
	}
}

.section_name {
	margin-bottom: 50px;
}

.menu_overlay{
	font-family: $header_font;
	color: white;
	background-color: #8f1215;
	background-color: rgba(143, 18, 21, .9);
	height: 100%;
	width: 100%;
	font-size: 4rem;
	transition: transform .4s;
	transition: -webkit-transform .4s;
	-webkit-transform: translateY(-100%) translateY(50px);
	transform: translateY(-100%) translateY(50px);
	position: fixed;
	z-index: 100;
	a {
		display: block;
	}
	&.expanded {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	&.first_time {
		background-color: rgba(143, 18, 21, 1);
	}
	ul {
		
	}
	li {
		padding-left: 80px;
		margin-bottom: 10px;
		border-bottom: 3px solid rgba(143, 18, 21, .9);
		&:hover {
			border-bottom: 3px solid white;
		}	
	}
}

.teams {
	font-family: $header_font;
	font-size: 1.4em;
	position: relative;
	margin-bottom: 40px;
	z-index: 1;
	li{
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
	a {
		text-decoration: none;
		color: white;
		
	}
}

.team_name{
	&.active {
		text-decoration: underline;
	}
}

.team_details {
	width: 100%;
	//max-width: 800px;
	margin: 0 auto;
}

.details {
	display: none;
	position: relative;
	transform: translateX(100%);
	height: 400px;
	width: 100%;
	h3 {
		font-size: 1em;
	}
	&#aus {
		display: block;
		transform: translateX(0);
	}
	ul {
		text-align: left;
		margin-bottom: 20px;
		li {
			display: block;
		}
		span.match_num {
			float: left;
			width: 110px;
			position: relative;
			overflow: hidden;
			font-family: $header_font;
			font-weight: bold;
			margin-right: 10px;
		}
	}
	.text {
		position: relative;
		top: 20%;
		left: 5%;
		font-size: 1.2rem;
		.fixture_details{
			font-size: .8rem;
		}
	}
	.group {
		margin-bottom: 20px;
		font-size: .9rem;
	}
	.flag {
		position: absolute;
		top: -110px;
		left: 13%;
		z-index: -1;
		width: 100%;
		img {
			height: 100%;
			width: 100%;
		}
	}
	.overlay {
		background-color: rgba(143, 18, 21, .7);
		width: 100%;
		height: 100%;
		position: absolute
	}
}

.menu_toggle {
	position: absolute;
	height: 50px;
	line-height: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	font-size: 2rem;
	span {
		cursor: pointer;
	}
	.close{
		display: none;
	}
}

.content.about {
	ul {
		margin-bottom: 20px;
	}
	a {
		&:hover {
			text-decoration: underline;
		}
	}
}

span.match_num {
	float: left;
	width: 80px;
	font-family: $header_font;
	position: relative;
	margin-right: 10px;
	&:after {
		content: ':';
		position: absolute;
		right: 0;
	}
}
span.versus {
	font-size: .7rem;
	margin: 0 10px;
}

.fixture {
	position: relative;
	height: 110px;
	padding-top: 50px;
	padding-left: 20px;
	border-top: 1px solid white;
	 &:first-of-type {
		border-top: 0;
	}
	.date {
		position: absolute;
		top: 20px;
		left: 20px;
	}
	.date, .location {
		font-size: .8rem;
	}
	.playing {
	}
	.team {
		font-family: $header_font;
		font-size: 1.8rem;
	}
}








